.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    margin: 0 5%;
}

.banner_opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.main_banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.title {
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.container_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin: 3% 5%;
    padding: 4%;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 111px;
        border-radius: 10px;
    }

    .banner_opacity {
        border-radius: 10px;
    }

    .main_banner {
        border-radius: 10px;
    }

    .title {
        font-size: 1.5rem;
        text-align: start;
        width: 78%;
    }

    .container_items {
        grid-template-columns: 1fr;
        grid-gap: 22px;
        background-color: #FFF;
        padding: 4% 0;
    }
}