.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    z-index: 99;
}

.logo {
    height: 58px;
}

.link_list {
    display: flex;
    gap: 57px;
    list-style: none;
}

.link_list_element {
    color: #FF6060;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Montserrat";
}

.link_list_element:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .container {
        padding: 3% 5%;
    }

    .logo {
        height: 46px;
    }

    .link_list {
        gap: 26px;
    }

    .link_list_element {
        font-size: 1rem;
    }
}