@font-face {
    font-family: 'Montserrat';
    src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}

body {
    max-width: 1400px;
    margin: auto;
}

* {
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}